name: Build AI Service

on:
 push:
   branches:
     - master

jobs:
  build-image:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Build Service Docker Image
        run: |
          DOCKER_BUILDKIT=1 docker build . -t thatssatyadocker/ai-service:latest
  push-image:
    runs-on: self-hosted
    needs: build-image
    steps:
      - name: Push to Docker Hub
        run: |
          docker login -u thatssatyadocker -p ${{ secrets.DOCKER_HUB_SECRET }}
          docker push thatssatyadocker/ai-service:latest
